.controlPanel
  width: 620px
  height: 600px
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-right: 60px

  .actionContainer
    .actions
      display: flex
      margin-top: 25px
      justify-content: space-between

  .resultantActionsContainer
    display: flex
    justify-content: space-between