.editor
  padding: 40px 0
  height: 100%
  display: flex
  align-items: center

  .previewContainer
    display: flex
    overflow: hidden
    position: relative
    width: 600px
    height: 600px
    border-radius: 30px
    margin-right: 190px
    background-color: var(--bg-color)
    box-shadow: var(--preview-container-shadow)

    .productInfo
      z-index: 10

      left: 50px
      bottom: 10px
      position: absolute

  .managementListContainer
    width: 550px
    height: 600px
    display: flex
    flex-direction: column
    justify-content: space-between

    .managementContainer
      .managementContent
        gap: 100px
        display: flex
        margin-top: 25px
        justify-content: space-between

    .actionsContainer
      display: flex
      justify-content: space-between


  .cartButtonContainer
    width: 50px
    height: 600px
    display: flex
    justify-content: end
    flex-direction: column

    padding-bottom: 60px


  @media only screen and (max-width: 1340px)
// todo


.canvas
  flex: 1
  gap: 16px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center


.canvasContainer
  padding: 60px

.dropZoneContainer
  flex: 1
  display: flex
  position: relative
  align-items: center
  flex-direction: column
  justify-content: space-between

  .dropZoneHeader
    margin-top: 48px


  .dropZoneProductTypeImage
    margin-top: 14px

  .dropZoneDescription
    gap: 6px
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 48px





