.radioButtonGroup
  gap: 10px
  display: flex
  flex-direction: column

  .radioButtonContent
    gap: 2px
    display: flex
    flex-direction: column

.colorRadioButtonGroup
  gap: 10px
  display: flex
  flex-direction: column

  .radioButtonContent

    display: grid
    grid-gap: 8px 8px
    grid-template-columns: repeat(3, 2fr)
