.radioButtonGroup
  gap: 10px
  display: flex
  flex-direction: column

  .content
    gap: 2px
    display: flex
    flex-direction: column

.colorRadioButtonGroup
  gap: 10px
  display: flex
  flex-direction: column

  .content
    display: grid
    grid-gap: 8px 8px
    grid-template-columns: repeat(3, 2fr)

.radioButton
  gap: 10px
  display: flex
  cursor: pointer
  align-items: center

  span
    text-transform: lowercase

  input
    width: 10px
    height: 10px
    appearance: none
    margin-bottom: 3px
    border-radius: 100%
    -webkit-appearance: none
    border: 2px solid var(--color)

    &:checked
      background-color: var(--color)

.colorRadioButton
  input
    cursor: pointer
    appearance: none
    -webkit-appearance: none
    width: 22px
    height: 22px
    border-radius: 100%
